@use '../helpers' as *;

.forecast-title {
    display: flex;
    justify-content: space-between;

    &__today {
        font-weight: 700;
            line-height: rem(19);
    }

    &__week-button {
         line-height: rem(12);
        color: var(--dark-text);
}
}

.forecast-slider {
    padding-block: rem(10);
    width: 100%;
    min-height: 69px;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    gap: rem(15);

    &::-webkit-scrollbar {
    display: none;
    }

    &__item {
        flex-shrink: 0;
        background-color: var(--color-light);
        border-radius: rem(26);
        padding: rem(15) rem(25);
        display: flex;
        align-items: center;
        gap: rem(10);

        &-selected {
            background: linear-gradient(151deg, #5facff 0%, #3f6fa2 100%);
        }

        &-temperature {
            font-weight: 700;
            line-height: rem(19);
        }

        &-time {
            line-height: rem(12);
            color: var(--dark-text);
        }
}
}